<%- include("header") -%>

<h2>About me</h2>
<p>
    I'm Vishesh Gupta, a web developer and student at IIITDM Jabalpur. Passionate about technology, learning, and making a positive impact. Loves money, but it's about financial security and helping others. Let's connect and grow together!</p>
<%- include("footer") -%>